/build/
/daemon-glue
/darkplaces
/gmqcc
/div0-gittools
/netradiant
/mediasource
/d0_blind_id
/*.d0si
*.yes
*.no
/data.old/
/xonstat/
/xonstatdb/
/xonotic.org
/wiki

.idea/
/result*
/.serverbench_temp

# macOS code signature directories (signing requires an Apple Developer subscription
# and cannot be automated; these are generated locally by codesign and not committed)
_CodeSignature/
