/build/
/daemon-glue
/darkplaces
/gmqcc
/div0-gittools
/netradiant
/mediasource
/d0_blind_id
/*.d0si
*.yes
*.no
/data.old/
/xonstat/
/xonstatdb/
/xonotic.org
/wiki

.idea/
/result*
/.serverbench_temp
