[Desktop Entry]
Type=Application
Version=1.0
Name=Xonotic
Comment=Multiplayer, deathmatch oriented first person shooter
Comment[fr]=Jeu de tir à la première personne multijoueur
Icon=xonotic
Exec=xonotic-sdl
Terminal=false
StartupNotify=false
Categories=Game;ActionGame;
