[Desktop Entry]
Type=Application
Version=1.0
Name=Xonotic
# Comment= values should match the <summary> values in org.xonotic.Xonotic.metainfo.xml
Comment=The Free and Fast Arena Shooter
Comment[de]=Der freie und schnelle Arena-Shooter
Comment[fr]=Le jeu de tir Arena-shooter libre et rapide
Comment[it]=Lo sparatutto arena libero e veloce
Icon=xonotic

# Note to packagers and/or .desktop file installers:
#
# Xonotic by default expects basedir's root to be the PWD which can lead to
# issues when calling the engine directly without xonotic-linux-sdl.sh
#
# Options:
# 1)
#   Create a symlink from PATH binaries to the location of xonotic-linux-sdl.sh
#   This relies on xonotic-linux-sdl.sh changing PWD to where Xonotic is
# 2)
#   Opt into the absolute path Exec and fix its path
#   This also relies on xonotic-linux-sdl.sh changing PWD to where Xonotic is
# 3)
#   Recompile Xonotic with DP_FS_BASEDIR=/path/to/xonotic/ , for example
#   with DP_FS_BASEDIR=/usr/share/xonotic/ it's no longer necessary
#   to change your PWD and xonotic-sdl can be anywhere in PATH .
#   Downstream packages are expected to use this option, supported in the Makefile,
#   see: https://gitlab.com/xonotic/xonotic/-/wikis/Compiling
# 4)
#   DIY your own wrapper script with "-basedir" "/path/to/Xonotic" arguments
#   or just place the arguments in this file
#
#Exec=/absolute/path/to/xonotic-linux-sdl.sh
Exec=xonotic-sdl

Terminal=false
# If the game is using the wrong GPU, consider enabling this flag
#PrefersNonDefaultGPU=true
StartupNotify=false
Categories=Game;ActionGame;Shooter;
Keywords=FPS;AFPS;arena;shooter;multiplayer;Quake;Q3;Q3A;Nexuiz;
